    <div class="row">
        <div class="col">
            <nav class="py-2 bg-light border-bottom">
                <div class="container d-flex flex-wrap">
                  <ul class="nav me-auto">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                  </ul>
                  <ul class="nav">
                    <li class="nav-item nav-link link-dark px-2" th:if="${not #strings.isEmpty(session.sessionBizUser)}" th:text="${session.sessionBizUser.member_name} + ' 님'"></li>
                    <li class="nav-item"><a href="../member/bizLoginPage" class="nav-link link-dark px-2" th:if="${#strings.isEmpty(session.sessionBizUser)}">Login</a></li>
                    <li class="nav-item"><a href="../member/logoutProcess" class="nav-link link-dark px-2" th:unless="${#strings.isEmpty(session.sessionBizUser)}">Logout</a></li>
                    <li class="nav-item"><a href="../member/bizSignUpPage" class="nav-link link-dark px-2" th:if="${#strings.isEmpty(session.sessionBizUser)}">Sign up</a></li>
                    <li class="nav-item"><a href="#" class="nav-link link-dark px-2">고객센터</a></li>
                  </ul>
                </div>
              </nav>
              <header class="py-3 mb-4 border-bottom">
                <div class="container d-flex flex-wrap justify-content-center">
                  <a href="../biz/main" class="d-flex align-items-center mb-3 mb-lg-0 text-dark text-decoration-none me-5">
                    <img class="img-fluid" src="../img/freenext_logo.png"><span style="color:blue;">biz</span>
                  </a>
                  <ul class="nav me-auto">                    
                    <li class="nav-item"><a href="../biz/projectListPage" class="nav-link link-dark px-2">프로젝트 관리</a></li>
                    <li class="nav-item"><a href="../biz/registProjectPage" class="nav-link link-dark px-2">프로젝트 등록</a></li>                    
                    <li class="nav-item"><a href="#" class="nav-link link-dark px-2">프리랜서</a></li>                    
                    <li class="nav-item"><a href="#" class="nav-link link-dark px-2">기업정보 관리</a></li>                    
                                        
                    <li class="nav-item"><a href="#" class="nav-link link-dark px-2">MYBOX</a></li>
                  </ul>
                  <ul class="nav me-auto">
                    <li class="nav-item"><a href="../normal/main"><button type="button" class="btn btn-dark">개인서비스</button></a></li>
                  </ul>      
                </div>
              </header>
        </div>
    </div>