    <div class="row">
        <div class="col">
            <footer class="text-center">
                <p>컨트롤에이</p>
                컨트롤에이는 프로젝트 정보에 직접관여하지 않으며
              프로젝트 정보및 참여에 대한 의무와 책임은 각 정보제공업체에 있습니다.<br><br>
              
              서울시 강남구 선릉로 663, 506호(논현동, 영창빌딩)<br>
              사업자번호 : 731-88-00140<br>
              고객센터 02-6082-8200 / sales@ctrl-a.co.kr<br><br>
              COPYRIGHT(c)CONTROL-A. ALL RIGHTS RESERVED<br>
              </footer>             
        </div>
    </div>