<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <style>
        * {margin: 0px; padding: 0px;}

        .nav-item {top:50%;}

        /* Add a gray background color and some padding to the footer */
        footer {
        background-color: #f2f2f2;
        padding: 25px;
        }


    </style>
     <title>관리자 회원가입</title>
</head>
<body>
<div style="margin:0 auto;">
  <div class="container-fluid">
    <div class="row">
        <div class="col">
            <nav class="py-2 bg-light border-bottom">
                <div class="container d-flex flex-wrap">
                  <ul class="nav me-auto">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                  </ul>
                  <ul class="nav">
                    <li class="nav-item nav-link link-dark px-2">김중수 님</li>
                    <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Login/Logout</a></li>
                    <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Sign up</a></li>
                    <li class="nav-item"><a href="#" class="nav-link link-dark px-2">고객센터</a></li>
                  </ul>
                </div>
              </nav>
              <header class="py-3 mb-4 border-bottom">
                <div class="container d-flex flex-wrap justify-content-center">
                  <a href="#" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
                    <img class="img-fluid" src="../img/freenext_logo.png">
                  </a>
                  <ul class="nav me-auto">                    
                    <li class="nav-item"><a href="#" class="nav-link link-dark px-2">프로젝트</a></li>                    
                    <li class="nav-item"><a href="#" class="nav-link link-dark px-2">공유오피스</a></li>                    
                    <li class="nav-item"><a href="#" class="nav-link link-dark px-2">지식하우</a></li>                    
                    <li class="nav-item"><a href="#" class="nav-link link-dark px-2">서비스안내</a></li>                    
                    <li class="nav-item"><a href="#" class="nav-link link-dark px-2">MYBOX</a></li>
                  </ul>
                  <ul class="nav me-auto">
                    <li class="nav-item"><a href="#"><button type="button" class="btn btn-dark">개인서비스</button></a></li>
                  </ul>      
                </div>
              </header>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <!-- 여기에 작성해주세요-->
             관리자 회원가입 테스트중
        </div>
    </div>


    <div class="row">
        <div class="col">
            <footer class="text-center">
                <p>컨트롤에이</p>
                컨트롤에이는 프로젝트 정보에 직접관여하지 않으며
              프로젝트 정보및 참여에 대한 의무와 책임은 각 정보제공업체에 있습니다.<br><br>
              
              서울시 강남구 선릉로 663, 506호(논현동, 영창빌딩)<br>
              사업자번호 : 731-88-00140<br>
              고객센터 02-6082-8200 / sales@ctrl-a.co.kr<br><br>
              COPYRIGHT(c)CONTROL-A. ALL RIGHTS RESERVED<br>
              </footer>             
        </div>
    </div>
  </div> 
</div>  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>