<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link th:href="@{/css/commons.css}" rel="stylesheet">
 <title>관리자 회원정보 수정</title>
</head>
<body>
<div style="margin:0 auto;">
  <div class="container-fluid">
    <th:block th:include="commons/admin_navbar"></th:block>
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col-sm-12" >
                <div class="col-sm-6 text-center">
                <h2>회원정보관리</h2>
	
				<th:block th:if="${data.memberVo.member_type == 'N'}">
				<div><form action="./updateMemberProcessN" method="post" enctype="multipart/form-data">
                    <table class="table table-boardered">
                        <tr>
                            <th>회원구분</th>
                            <td> 
                               		 일반회원 &nbsp;&nbsp;
                            </td>        
                        </tr>
                        <tr>
                            <th>아이디</th>
                            <td>[[${data.memberVo.member_id }]]</td>                                   
                        </tr>
                        <tr>
                            <th>비밀번호</th>
                            <td><input type="password" name="member_pw">
                            <input type="hidden" name="memberNo" th:value="${data.memberVo.member_no}">
                            <input type="hidden" name="member_approval" value="Y"></td>
                        </tr>
                        <tr>
                            <th>이름</th>
                            <td><input type="text" th:value="${data.memberVo.member_name }" name="member_name"></td>
                        </tr>
                        <tr>
                            <th>생년월일</th>
                            <td><input type="date" th:value="${data.memberCustomerVo.customer_birth}" name="customer_birth"></td>
                        </tr>                                       
                        <tr>
                            <th>전화번호</th>
                            <td><input type="text" th:value="${data.memberCustomerVo.customer_number }" name="customer_number"></td>
                        </tr>                                       
                        <tr>
                            <th>핸드폰번호</th>
                            <td><input type="text" th:value="${data.memberVo.member_phone }" name="member_phone"></td>
                        </tr>                                       
                        <tr>
                            <th>이메일</th>
                            <td><input type="text" th:value="${data.memberVo.member_email }" name="member_email"></td>
                        </tr>
                        <tr>
                        	<th>주소</th>
                        	<td><input type="text" th:value="${data.memberVo.member_address}" name="member_address"></td>
                        </tr>
                        <tr>
                            <th>프로필사진</th>
                            <td><input type="file" accept="image/*" name="memberProfileImg">
                            	<span><a th:href="|/profileImage/${data.memberVo.member_profile}|" th:text="업로드파일"
                            	 onclick="window.open(this.href, '_blank', 'width=800, height=600'); return false;"></a></span>
                            </td>
                        </tr>
                        <tr>
                            <th>정보수신동의</th>
                            <td>
                            	<input type="checkbox" th:checked="${data.memberCustomerVo.customer_agree_email =='Y'}" th:value="Y" name="customer_agree_email" th:text="이메일">                            
                            	<input type="checkbox" th:checked="${data.memberCustomerVo.customer_agree_sns =='Y'}" th:value="Y" name="customer_agree_sns" th:text="sns">
                            </td>
                        </tr>                        
                        
                        
                        <!-- 일반회원은 승인 과정 필요할 경우 넣기
                        <tr>
                            <th>승인</th>
                            <td>
                                <input type="radio"  name="member_approval" value="승인요청">승인요청 &nbsp;&nbsp;
                                <input type="radio"  name="member_approval" value="승인완료">승인완료 &nbsp;&nbsp;
                                <input type="radio"  name="member_approval" value="재신청요청">재신청요청 &nbsp;&nbsp;
                            </td>     
                        </tr>  
                        -->
                        
                        
                        <tr>
                            <td colspan="2">
                            <input type="submit" class="btn btn-primary" value="수정완료">
                            <button type="button" th:onclick="'location.href=\'/admin/manageMemberPage?'+ @{${additionalParam}} + '\''" class="btn btn-dark">목록으로</button>
                            </td>
                        </tr>
                    </table>
                </form></div>
                </th:block>
                
                <th:block th:if="${data.memberVo.member_type == 'B'}">
                <div>
                
                <form action="./updateMemberProcessB" method="post" enctype="multipart/form-data">
                    <table class="table table-boardered">
                        <tr>
                            <th>회원구분</th>
                            <td> 
                                	기업회원 &nbsp;&nbsp;
                            </td>        
                        </tr>
                        <tr>
                            <th>아이디</th>
                            <td>[[${data.memberVo.member_id }]]</td>        
                        </tr>
                        <tr>
                            <th>비밀번호</th>
                            <td><input type="password" name="member_pw">
	                            <input type="hidden" name="memberNo" th:value="${data.memberVo.member_no}">	                                                       
                            </td>
                        </tr>
                        <tr>
                            <th>기업명</th>
                            <td><input type="text" th:value="${data.memberVo.member_name }" name="member_name"></td>
                        </tr>
                        <tr>
                            <th>담당자</th>
                            <td><input type="text" th:value="${data.memberCompanyVo.company_manager }" name="company_manager"></td>
                        </tr>    
                        <tr>
                            <th>사업자번호</th>
                            <td><input type="text" th:value="${data.memberCompanyVo.company_license_number }" name="company_license_number"></td>
                        </tr>
                        <tr>
                            <th>전화번호</th>
                            <td><input type="text" th:value="${data.memberVo.member_phone }" name="member_phone"></td>
                        </tr> 
                        <tr>
                            <th>팩스번호</th>
                            <td><input type="text" th:value="${data.memberCompanyVo.company_fax }" name="company_fax"></td>
                        </tr>                                         
                        <tr>
                            <th>이메일</th>
                            <td><input type="text" th:value="${data.memberVo.member_email }" name="member_email"></td>
                        </tr>
                        <tr>
                        	<th>주소</th>
                        	<td><input type="text" th:value="${data.memberVo.member_address}" name="member_address"></td>
                        </tr>                        
                        <tr>
                            <th>사업자등록증</th>
                            <td><input type="file" accept="image/*" name="licenseImg">
                            	<span><a th:href="|/profileImage/${data.memberCompanyVo.company_license_img}|" th:text="업로드파일"
                            	 onclick="window.open(this.href, '_blank', 'width=800, height=600'); return false;"></a></span>
                            </td>
                        </tr>
                        <tr>
                            <th>승인</th>
                            <td>
								<th:block th:if="${data.memberVo.member_approval == 'Y'}">
									승인 완료
									<input type="hidden" name="member_approval" value="Y">	
								</th:block>
								<th:block th:unless="${data.memberVo.member_approval == 'Y'}">
									미승인 : 								
                                	<input type="radio" name="member_approval" value="Y">승인 완료 &nbsp;&nbsp;
                                	<input type="radio" name="member_approval" value="N">승인 거절 &nbsp;&nbsp;
                                </th:block>
                            </td>     
                        </tr>
                        <tr>
                            <td colspan="2">
                            <input type="submit" class="btn btn-primary" value="회원정보수정">
                            <button type="button" th:onclick="'location.href=\'/admin/manageMemberPage?'+ @{${additionalParam}} + '\''" class="btn btn-dark">목록으로</button>
                            </td>
                            
                        </tr>
                    </table>
                </form>
                
                </div>
                
                </th:block>
                
                
                
                </div>
             </div>
         </div>
       </div>
    </div>


    <th:block th:include="commons/footer"></th:block>
  </div> 
</div>  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>